<footer class="footer">
  <small>
    The Ruby on Rails Technight Unisul 2017
    by <a href="http://www.rafaelbmateus.com.br/">Rafael Mateus</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "GitHub", 'https://github.com/rafaelbmateus/rails-technight-unisul-2017' %></li>
    </ul>
  </nav>
</footer>